<ul>
	<FeatureWrapper @feature="news">
		<li>
			{{link-to "Welcome Page (page-a)" "page-a"}}
		</li>
	</FeatureWrapper>

	<FeatureWrapper @feature="news">
		<li>
			{{link-to "News Page (page-b)" "page-b"}}
		</li>
	</FeatureWrapper>

	<li>{{link-to "Page C" "page-c"}}</li>
</ul>

{{outlet}}